.counterContainer {

    /* width: 20rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterContainer .btnCounter {
    height: 2rem;
    width: 2rem;
    /* background-color: aqua; */
}